/* =================== GRID PRACTICE ================  */

.container {
    display: grid;
    /* gap: 1rem 0rem; */
    /* grid-template-rows: 200px 500px 80px 200px 50px; */
    grid-template-columns: 2fr 3fr 1fr;
}

.items {
    padding: 2rem;
}

.items1 {
    background-color: rebeccapurple;
    border: 2px solid black;
    /* grid-row-start: 3; */
    /* grid-row-end: 1; */
}

.items2 {
    background-color: rgb(51, 153, 93);
    border: 2px solid black;
}

.items3 {
    background-color: rgb(240, 119, 157);
    border: 2px solid black;
}

.items4 {
    background-color: rgb(174, 201, 75);
    border: 2px solid black;
}

.items5 {
    background-color: rgb(45, 212, 212);
    border: 2px solid black;
}